<div>
  <div class="logo">
    <img src="assets/logo.jpg" alt="no img found" height="150px">
    </div>
    <h1 class="h1"><b>SANJEEVANE ENGINEERING & TECHNOLOGY INSTITUTE</b></h1>
    <p class="p">Approved by AICTE ,New Delhi.<br> Recognized by DTE, Mumbai & Govt.<br>Maharashtra.Affiliated to MSBTE
    </p>
    <div id="img3">
      <img src="assets/pic1.png" alt="no img found" height="400px">
    </div>
  </div>
<div class="b"><b>WELCOME TO SANJEEVANE ENGINEERING & TECHNOLOGY INSTITUTE, PANHALA</b><br>
  <p class="txt">
  SANJEEVAN ENGINEERING AND TECHNOLOGY INSTITUTE (SETI) is an establishment of Sanjeevan, meets the needs of technology
  driven modern 21st Century.<br> The Institute is approved by All India Council for Technical Education, New Delhi,
  recognized by Directorate of Technical<br> Education, Govt. of Maharashtra and affiliated to Shivaji University, Kolhapur
  & Affilated to Babasaheb Ambedkar Technological University, Lonere for First Year 2017-18 B.Tch / M.Tech
<br>
</p>
<div class="card"><b> About Institute</b>
</div>
<div>
  <div id="img2">
    <img src="assets/pic2.jpg" alt="no img found" height="200px" width="100%">
    <p class="txt1"><b>"Sanjeevan Engineering & Technology Institute is long cherished <br>dream of Founder-Chairman Mr. P.
        R. BHOSALE, an Educationalist having experience about two decades.<br> His aim is to impart quality education to the
        students from nook and corner of the country. No doubt, Sanjeevan Engineers will be <br>the best professionals with
        added values of Indian Heritage."</b>
    </p>
  </div>
</div>
<p class="default"></p>
<div class="port"><b>Portfolio</b>
  <p class="txt2">We Promice a conducive environment to our Faculty,Staff & Students to realise vision.<br>
    ENVIRONMENT POLICY:
    Green Sanjeevvan , Clean Sanjeevan.
</p>
</div>
<div>
  <div id="img4">
    <img src="assets/tech.jpg" alt="no img found" height="100px" width="2px">
    <div class="port"><b>Our Approach</b>
      <p class="txt2">SETI to Educate to Excel in Social Transformation.<br>
To inculcate academic excellence in persuit of technical education and to strive hard for good
        academic results and Placements.<br>
        To attract nurture and to retain the best faculty and technical manpower.
        To develope the holistic personality of<br> students to be a responsible citizen with etical values and lifelong
        learning.
        To Promote industry institute interaction for employability and entrepreneurship.
</p>
</div>
</div>
<p class="default"></p>
<div class="port"><b>Technologies</b>
  <p class="txt2">We blueprint, build, and maintain advanced game, web, and mobile apps for companies of all sizes. With
    the passage of time and the development of new<br>technologies, as well as a large demand for IT services, the
    Multi-Programming Solutions team has identified key areas in software development and<br> technologies that are used
    to
    create it. The following technologies are the most modern, popular, functional and useful in creating those
    solutions which we<br>offer to our customers. The technologies we use help get any web project up and running within
    the shortest timeline and in the most cost efficient way.
  </p>
</div>
<p class="default"></p>
<div class="port"><b>Latest From Our Blog</b>
  <p class="txt2">Our Respected Persons </p>
  <div class="Box-row1">
    <div class="Box1">
      <img src="assets/chairman.jpg" alt="no img found" height="220px" width="100%">
      <div class="p2"><b>Our Chairman</b></div>
        </div>
    <div class="Box2">
      <img src="assets/secretary.jpg" alt="no img found" height="220px" width="100%">
      <div class="p2"><b>Our secretary </b></div>
    </div>
    <div class="Box3">
      <img src="assets/principle.jpg" alt="no img found" height="220px" width="100%">
      <div class="p2"><b>Our Principle</b></div>
    </div>
  </div>
</div>
<div>
  <div class="cd">
    <div class="cd1">
      <i class="bi bi-geo-alt" style="font-size:40px;color:white"></i><br><br>
      <h6 class="t1">Address</h6><br>
      <p class="t2">Sanjeevan knowledge city , A/P - Somwar Peth-Injole ,Panhala.<br><br>
        Tal. Panhala, Dist. Kolhapur - 416201.
  </p>
    </div>
    <div class="cd1">
      <i class="bi bi-telephone" style="font-size:40px;color:white"></i><br><br>
      <h6 class="t1">Call Us</h6><br>
      <p class="t2">+91-0231-2686600<br><br>
        +91-0231-2686621
</p>
    </div>
    <div class="cd1">
      <i class="bi bi-envelope" style="font-size:40px;color:white"></i><br><br>
      <h6 class="t1">Email</h6><br>
      <p class="t2">office@seti.edu.in<br><br>
        principal@seti.edu.in</p>
    </div>
  </div>
</div>
