<div class="container">
  <table class="table">
    <tbody>
      <tr>
        <th>Student ID</th>
        <td>{{stud.studId}}</td>
      </tr>
      <tr>
        <th>Student Name</th>
        <td>{{stud.studName}}</td>
      </tr>
      <tr>
        <th>Student Address</th>
        <td>{{stud.studAddress}}</td>
      </tr>
      <tr>
        <th>Student DOB</th>
        <td>{{stud.studDOB}}</td>
      </tr>
      <tr>
        <th>Student Mobile No.</th>
        <td>{{stud.studMobileNo}}</td>
      </tr>
      <tr>
        <th>Student Department</th>
        <td>{{stud.studDepartment}}</td>
      </tr>
      <tr>
        <th>Student Fees</th>
        <td>{{stud.studFees}}</td>
      </tr>
      <tr>
        <th>Student AdmissionDate</th>
        <td>{{stud.studAdmissionDate}}</td>
      </tr>
    </tbody>
  </table>
</div>
