<div class="title">
    <b>ABOUT HOLY-WOOD ACADEMY</b>
</div>
<div class="img">
    <img src="assets/school-logo.jpg" alt="No img" height="150px" width="180px">
</div>
<div class="p">
  <p><b>HOLY-WOOD ACADEMY :</b> SHRI. P. R. BHOSALE, Founder–Chairman of Holy-wood Academy, Kolhapur,<br> born in a
  family having agriculture background at Narande Village in Kolhapur District.<br>
  In 1992, he has established the Holy-wood Academy to impart best quality education at Primary, Secondary,
  Higher-Secondary,<br>Graduation and Post-graduation in various disciplines.<br>
  With a batch of only 7 students, he layed the foundation stone of SANJEEVAN KNOWLEDGE CITY by starting<br> Sanjeevan
  Public School in 1994.Today, there are more than 2500 students studying from all over the country from KG to PG.
  </p>
</div>
<div class="row">
  <div class="column">
    <img src="assets/sc1.jpg" alt="no img found" height="300px">
    <img src="assets/sc2.jpg" alt="no img found" height="300px">
  </div>
<div class="column">
  <img src="assets/sc3.jpg" alt="no img found" height="300px">
  <img src="assets/sc4.jpg" alt="no img found" height="300px">
</div>
<div class="p1">
    <b>SANJEEVAN ENGINEERING AND TECHNOLOGY INSTITUTE (SETI)</b> is an establishment of Sanjeevan, meets the needs of
    technology<br> driven modern 21st Century. The Institute is approved by All India Council for Technical
    Education, New Delhi, recognized by<br> Directorate of Technical Education, Govt. of Maharashtra and affiliated to Shivaji
    University, Kolhapur.
    Sanjeevan Engineering &<br> Technology Institute (SETI) is long cherished dream of Founder-Chairman Mr. P.
    R. BHOSALE, an Educationalist<br>having experience about two decades. His aim is to impart quality education to
    the students from nook and corner of the country.<br> No doubt, Sanjeevan Engineers will be the best professionals with added
    values of Indian Heritage.<br><br>
   <b> LOCATION</b><br><br>
    Sanjeevan Engineering and Technology Institute, is located in Western Maharashtra near foot-hills of FORT PANHALA
    (near Teen-Darvaja), <br>a historical place and famous Hill Station. Panhala is 21 kms. away from Kolhapur City
    and is one of the most charming and scenic<br> hill stations in Maharashtra. Its refreshing and scintillating
    natural beaut attract tourists from every nook and corner of the world.<br> Panhala is gifted with unmatched beauty in the
    world. Its
    pristine hills, beautiful valleys, eye-catching monuments of bygone era are still<br> untouched, pure and safe. Nature
    is always at its best, which make tourists visit this place as the mercury level rises up.
</div>
