<div class="title"><b>CONTACT US</b>
</div>
<div class="p">
  <b> Our Office :</b><br><br>
  Sanjeevan Engineering & Technology Institute, Panhala.<br><br>
  Address:
  Sanjeevan knowledge city , A/P - Somwar Peth-Injole , Panhala,<br><br>
  Tal. Panhala, Dist. Kolhapur - 416201.
</div>
<div class="box">
  <p class="p1"><b>For Office Work</b></p>
</div>
<div class="table">
  <table style="width:100%">
    <tr>
      <th>Sr. No</th>
      <th>Name of Staff</th>
      <th>Contact No.</th>
    </tr>
    <tr>
      <td> 1.</td>
      <td>Mr. Balasaheb Vithal Kumbhar <br>(Registrar)</td>
      <td>0231-2686623</td>
    </tr>
    <tr>
      <td>2.</td>
      <td> Mr. Deepak Zunjarrao Patil <br>(Office Superintendent) </td>
      <td>0231-<br>2686624,9112127322</td>
    </tr>
    <tr>
      <td>3.</td>
      <td>Mr.Krushnat S.Shinde (Accountant )</td>
      <td>0231-2686625</td>
    </tr>
    <tr>
      <td>4.</td>
      <td>Mr.Prafulla M.Deshpande (Students Section) </td>
      <td>9765464800</td>
    </tr>
    <tr>
      <td>5.</td>
      <td> Mr. Deepak Zunjarrao Patil <br>(Office Superintendent) </td>
      <td>0231-<br>2686624,9112127322</td>
    </tr>
    <tr>
      <td>6.</td>
      <td> Mr. Pramod Gharge (Hostel & Bus Section) </td>
      <td>0231-<br>2686600,8888624445</td>
    </tr>
  </table>
</div>
<div class="box">
  <p class="p1"><b>For Admission</b></p>
</div>
<div class="table1">
  <table style="width:100%">
    <tr>
      <th>Sr. No</th>
      <th>Name of Staff</th>
      <th>Contact No.</th>
    </tr><br>
    <tr>
      <td> 1.</td>
      <td>Prof.Katkar A.A.</td>
      <td>9158893049</td>
    </tr><br>
    <tr>
      <td> 2.</td>
      <td>Prof.P.P.Kulkarni</td>
      <td>7769042033</td>
    </tr>
  </table>
</div>
<div class="no">
  <b class="b">Phone number :</b><br><br>
  +91-0231-2686600<br><br>
  +91-0231-2686621
</div>
<div class="no">
  <b class="b">Fax number :</b><br><br>
  +91-0231-2686629
</div>
<div class="no">
  <b class="b">E-mail :</b><br><br>
office@seti.edu.in<br><br>
principal@seti.edu.in
</div>